<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Penawaran diterima</title>
    <style>
        body{
            font-family: Verdana;
        }
    </style>
</head>
<body>
    <h1 style="text-align: center;color:#7126B5;font-weight:bold">SecondHand</h1>
    <p>Hai {{name}}</p>
    <p>Kamu telah menolak tawaran pada barang {{product}}, yang ditawar sebesar {{price}}. Semoga kamu mendapatkan penawaran yang tepat kedepannya!</p>
    <br>
    <p>Semoga harimu menyenangkan!</p>
</body>
</html>